* {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    color: #4B4B4B;
    line-height: 1.5;
}
.name{
    position: relative;
    color: #003f75;
    font-size: 40px;

}

h1{
  position: fixed;
  font-size: 20px;
}

.center{
  position: relative;
  text-align: center;
  align-items: center;

}